nav {
  margin-right: -5px;
}

.navList {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .navList {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    background-color: #fff;
    padding: 1rem;
    z-index: -1;
    transition: all 0.5s ease;
    transform: translateX(100%);
  }

  .navListOpened {
    transform: translateX(0);
  }
}

.navLink {
  padding: 5px;
}

.navMenu {
  position: relative;
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .navMenu {
    display: flex;
  }
}

.navMenu:hover {
  border: none;
  background-color: transparent;
  color: #000;
}

.navMenu svg {
  width: 32px;
  height: 32px;
  transition: all 0.5s ease;
}

.navMenuOpen {
  position: relative;
  opacity: 1;
}

.navMenuOpenHidden {
  opacity: 0;
  transform: translateX(-100%);
}

.navMenuClose {
  position: absolute;
  opacity: 0;
  transform: translateX(100%);
}

.navMenuCloseActive {
  opacity: 1;
  transform: translateX(0);
}